html {
    font-size: 10px;
}

.container {
    width: 120rem;
    max-width: 100%;
    margin: 0 auto;
}

.mask{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color:#171A1F;
    opacity: 0.75;
    z-index: 1;
    display: none;
}

label {
    display: block;
}